.title {
  font-size: 20px;
  margin: 0;
}

.book-image {
  width: 500px;
  object-fit: contain;
  position: absolute;
  left: 20px;
  top: -40px;
  z-index: -1;
}

img {
  max-width: 100%;
  height: auto;
}

.book-infomation {
  position: absolute;
  right: 800px;
  top: 150px;
}

.book-description {
  position: absolute;
  top: 400px;
  width: 1000px;
}

a {
  color: #000;
  text-decoration: none;
}
